<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <title>Hillel - Python Advanced</title>
    </head>
    <body>
        <header>
            <br>
            <br>
            <h3>Lesson 16 &emsp; HW 13</h3>
            <br>
            <br>
        </header>
        <div id="body_content">{% block body_content %}{% endblock body_content%}</div>
        <br>
        <br>
        <br>
        <div id="footer">&copy; Copyright 2022.</div>
    </body>
</html>