{% extends 'layout.html' %}
{% block body_content %}
    <div>
        <h3>data items in basket</h3>
        <ul>
            {% for item in items %}
            <li><a href="/item/{{item.id}}/">{{item.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <form id="complete_purchase" action="/complete_purchase/" method="POST" enctype='application/json'>
        {% csrf_token %}
        <input style="width: 100px;" name="items" type="hidden" value="{{items}}">
        <input style="width: 100px;" type="submit" value="BUY Items">
    </form>
    <br>
    <br>
    <br>
    <a href="/">Back ==>> Home</a>
    <br>
{% endblock body_content %}
