<br>
<form id="form_search" action="/search/" method="GET">Enter your search parameters here...
    <br>
    <div style="width: 300px">
        <p>Keyword<input style="float: right;" type="text" name="keyword"/></p>
        <p>Price from<input style="float: right;" type="text" name="price_from"/></p>
        <p>Price to<input style="float: right;" type="text" name="price_to"/></p>
        <p>Category<input style="float: right;" type="text" name="category"/></p>

        <input style="width: 300px;" type="submit" value="Search">
    </div>
</form>
<br>