{% extends 'layout.html' %}
{% block body_content %}
{% if search_text != '' %}
    <h3>You searching: <b>{{ search_text }}</b></h3>
    <br>
    <h3>Categories</h3>
    {% if categories|length > 0 %}
        <div>
            <ul>
                {% for category in categories %}
                <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br>
    <br>
    <h3>Goods</h3>
    {% if goods|length > 0 %}
        <div>
            <ul>
                {% for gg in goods %}
                <li>{{ gg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br>
    <br>
    <a href="/">Back ==>> Home</a>
    <br>
{% else %}
    <br>
    <br>
    <br>
    <h2>Go Back and take a cup of coffee</h2>
    <br>
    <br>
    <a href="/">Back ==>> Home</a>
    <br>
{% endif  %}
{% endblock body_content %}