<br>
<script>
  function new_song(form) {
    fetch("/", {
      method: 'put',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(document.getElementById("add_song_data").value)
      });
  }
</script>
<form id="add_song_form">
    <div style="width:380px">
        <label for="add_song_data">Add JSON data for new song</label>
        <textarea id="add_song_data" form="add_song_form" name="add_song_form" rows="20" cols="50"
                  placeholder='{
  "song_info": {
    "song_title": "",
    "song_text": "",
    "song_year": 0,
    "song_lang": ""
  },
  "artist_info": [
    {
      "artist_name": "",
      "artist_info": "",
      "album_info": [
        {
          "album_title": "",
          "album_year": 0,
          "album_info": "",
          "track_number": ""
        },
        {
          "album_title": "",
          "album_year": 0,
          "album_info": "",
          "track_number": ""
        }
      ]
    },
    {
      "artist_name": "",
      "artist_info": ""
    }
  ]
}'>
{
  "song_info": {
    "song_title": "",
    "song_text": "",
    "song_year": 0,
    "song_lang": ""
  },
  "artist_info": [
    {
      "artist_name": "",
      "artist_info": "",
      "album_info": [
        {
          "album_title": "",
          "album_year": 0,
          "album_info": "",
          "track_number": 0
        },
        {
          "album_title": "",
          "album_year": 0,
          "album_info": "",
          "track_number": 0
        }
      ]
    },
    {
      "artist_name": "",
      "artist_info": ""
    }
  ]
}
        </textarea>
    </div>
    <br>
    <input style="width: 380px;" onclick="new_song(this)" type="submit" value="ADD SONG">
</form>
<br>
