{% extends 'layout.html' %}
{% block body_content %}
    <h3>Artist: {{ data_artist.artist_name }}</h3>
    <br>
    <h4>INFO:</h4>
    <p>{{ data_artist.artist_info }}</p>
    <br>
    <br>
    <h4>ALL ALBUMS</h4>
    <ul>
        {% for album in data_albums %}
            {% if data_albums|length > 0%}
            <li><a href="/artist/{{ data_artist.id_artist }}/album/{{ album['id_album'] }}/">{{ album["album_title"] }}</a></li>
            {% else %}
            <li></li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <br>
    {% if data_x_songs|length > 0 %}
        <h4>SONGS NOT IN ALBUMS</h4>
        <ul>
        {% for song in data_x_songs %}
            <li><a href="/artist/{{ data_artist.id_artist }}/song/{{ song['id_song'] }}/?id_album=0">{{ song["song_title"] }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    {% endif %}
    <br>
    <br>
    <a href="/">Back ==>> Home</a>
    <br>
{% endblock body_content %}