<br>
<form id="add_song_form" method="POST" action="/">
    <div style="width:380px">
        <label for="add_song">Add JSON data for new song</label>
        <textarea id="add_song" form="add_song_form" name="add_song_form" rows="20" cols="50"
                  placeholder='{
  "song_info": {
    "song_title": "",
    "song_text": "",
    "song_year": "",
    "song_lang": ""
  },
  "artist_info": [
    {
      "artist_name": "",
      "artist_info": "",
      "album_info": [
        {
          "album_title": "",
          "album_year": "",
          "album_info": "",
          "track_number": ""
        },
        {
          "album_title": "",
          "album_year": "",
          "album_info": "",
          "track_number": ""
        }
      ]
    },
    {
      "artist_name": "",
      "artist_info": ""
    }
  ]
}'>
{
  "song_info": {
    "song_title": "",
    "song_text": "",
    "song_year": "",
    "song_lang": ""
  },
  "artist_info": [
    {
      "artist_name": "",
      "artist_info": "",
      "album_info": [
        {
          "album_title": "",
          "album_year": "",
          "album_info": "",
          "track_number": ""
        },
        {
          "album_title": "",
          "album_year": "",
          "album_info": "",
          "track_number": ""
        }
      ]
    },
    {
      "artist_name": "",
      "artist_info": ""
    }
  ]
}
        </textarea>
    </div>
    <br>
    <input style="width: 380px;" type="submit" value="ADD SONG">
</form>
<br>
